* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #4f96e7;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.con {
  background-color: #1e23ac;
  padding: 70px;
  border-radius: 25px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(39, 2, 91, 0.856);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: #a0c8e1;
  border: none;
  border-radius: 5px;
  color: #080808;
  outline: none;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #a0c8e1;
  border: none;
  border-radius: 5px;
  color: #090808;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3b90bb;
}

#weather-info {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#error-message {
  color: #ff5722;
  margin-top: 20px;
}
