* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #dd8a8d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #d84646;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(126, 3, 3);
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 45%;
  padding: 10px;
  background-color: #f3f0f0;
  border: none;
  border-radius: 5px;
  color: #060606;
  outline: none;
  margin: 3px;
}

button {
  padding: 10px;
  background-color: #656269;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #434148;
}

#expense-list {
  list-style-type: none;
  padding: 0;
}

#expense-list li {
  background-color: #f4f1f1;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  color: #060606;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#total {
  text-align: right;
}

.hidden {
  display: none;
}
